LICENSE linguist-language=Text linguist-detectable=true
LICENSE.txt linguist-language=Text linguist-detectable=true
LICENCE linguist-language=Text linguist-detectable=true
LICENCE.txt linguist-language=Text linguist-detectable=true
